<div class="container-fluid">
  <div class="row">
    <div class="img-header" style="background-image: url(assets/img/background.jpg)">
      <div class="author">
          <h4 class="title">Chet Faker</h4>
        </div>
    </div>
    <div class="row cardlist">
      <div class="inline" *ngFor="let row of rows">
        <a href="resumo/{{row.id}}"><app-small-card-item [row]="row"></app-small-card-item></a>
      </div>
    </div>
<!--     
    <div class="col-md-12">
      <div class="row image" style="z-index: -1">
          <img class="grouphead" src="assets/img/background.jpg" alt="..."/>
        </div>
        <div class="row content">
          <div class="author">
            <h4 class="title">Chet Faker<br />
              <a href="#"><small>@chetfaker</small></a>
            </h4>
          </div>
          <p class="description text-center">
            "I like the way you work it <br>
            No diggity <br>
            I wanna bag it up"
          </p>
        </div>
      </div>
    </div> -->
    
</div>