<div class="row">
    <div class="col-lg-8 col-md-7">
    <div class="card card-plain">
    <h3 class="text-center group-name">{{pickup_id}}</h3>
      <small>
        <h4 class="text-center"> 
          <i class="ti-thumb-up"></i>
          14/05/2019
          <i class="ti-thumb-up"></i>
        </h4>
      </small>
      <div class="row">
            <h5 style="margin-left: 15px;">Meus números</h5>
            <div class="col-md-4">
                Gols: {{goals}} <br>
                Finalizações: {{finalizations}}<br>
                Faltas sofridas: {{goals}}<br>
            </div>
            <div class="col-md-4">
                Defesas: {{goals}}<br>
                Roubadas de Bola: {{goals}}<br>
                Faltas cometidas: {{goals}}<br>
            </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-5">
    <div class="card card-plain">
        <div class="header sidetable_header">
            <h4 class="title">Top Scouts</h4>
            <!-- <p class="category">Here is a subtitle for this table</p> -->
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-hover sidetable">
                <tbody>
                    <tr *ngFor="let row of sidetable.dataRows">
                        <td class= "sidetable_cell" *ngFor="let cell of row"><small>{{cell}}</small></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Números gerais</h4>
            <!-- <p class="category">Here is a subtitle for this table</p> -->
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th *ngFor="let cell of table.headerRow">{{ cell }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of table.dataRows">
                        <td *ngFor="let cell of row">{{cell}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>