<div class="container-fluid">
  <div class="col-md-6 text-center">
      <h3>Minhas vaquinhas</h3>
      <div class="row justify-content-center" *ngFor="let row of chipinAdm">
        <a href="vaquinha/{{row.id}}"><app-chip-in-card [row]="row"></app-chip-in-card></a>
      </div>
  </div>
  <div class="col-md-6 border text-center">
    <h3>Vaquinhas dos meus grupos</h3>
    <div class="row" *ngFor="let row of chipin">
        <a href="vaquinha/{{row.id}}"><app-chip-in-card [row]="row"></app-chip-in-card></a>
    </div>
  </div>
</div>
