<div class="col-lg-4 col-md-5">
  <div class="card card-user">
      <div class="image">
          <!-- <img src="assets/img/background.jpg" alt="..."/> -->
          <img src="{{row.image}}" alt="..."/>
      </div>
      <div class="content card-content ">
          <div class="author">
            <!--<img class="avatar border-white" src="assets/img/faces/face-2.jpg" alt="..."/> -->
            <!-- <h4 class="title" id="carditem_title">{{row.title}}<br /> -->
            <h4 class="title" id="carditem_title">
              <!-- Pelada dos Cria -->
              {{row.name}}
              <br />
               <!-- <a href="#"><small>@chetfaker</small></a> -->
            </h4>
          </div>
          <p *ngIf="mixType" class="description text-center">
            <i class="ti-location-pin" style="margin-right: 4px"></i>
              <!-- Sport Mania - Rua da Paz, 555, Bairro da Glória, Belo Horizonte. -->
               {{row.place}}
          </p>
      </div>
      <hr *ngIf="mixType">
      <!-- <hr> -->
      <div *ngIf="mixType" class="text-center card-footer">
          <div class="row">
              <div class="col-md-3 col-md-offset-1">
                    <h5 class="detail-item">
                            <small>
                                    <!-- Used -->
                                      <i class="ti-calendar"></i>
                            </small>  
                        <br/>
                          <!-- 19/06 -->
                          {{row.date}}
                    </h5>
              </div>
              <div class="col-md-4">
                  <h5 class="detail-item">
                        <small>
                                <!-- Used -->
                                  <i class="ti-alarm-clock"></i>
                        </small>  
                    <br/>
                      <!-- 20:30 -->
                      {{row.time}}
                    </h5>
              </div>
              <div class="confirm-button col-md-3">
                  <h5 class="detail-item">
                    <i class="ti-thumb-up"></i>
                    <br/>
                    <small>
                          participar
                    </small>
                  </h5>
              </div>
          </div>
      </div>
  </div>
</div>