.card{
    // max-width: 250px;
    width: 250px;
    min-height: 302px;
    max-height: 322px;
}
.author {
    margin-top: 0px;
    //position: relative;
}

.description{
    margin: 0 4px;
    font-size: 14px;
}

.card-content {
    padding: 8px;
    min-height: 80px;
    max-height: 120px;
}

.detail-item{
    margin: 4px 0 8px 0;
}

.confirm-button{
    padding-left: 8px;
}